config/atmpl/fal-osb-gen/fal-templates/prd/TEMPLATE_WSDL.wsdl.atmpl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/wsdl/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/IMPL/&{versionWSDL}" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/wsdl/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/IMPL/&{versionWSDL}" xmlns:cs="http://mdwcorp.falabella.com/common/schema/clientservice" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:req="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/schema/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/Req/IMPL/&{versionXSDReq}" xmlns:resp="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/schema/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/Resp/IMPL/&{versionXSDResp}">
	<wsdl:types>
		<xs:schema targetNamespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/wsdl/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/IMPL/&{versionWSDL}" elementFormDefault="qualified">
			<xs:import namespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/schema/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/Req/IMPL/&{versionXSDReq}" schemaLocation="../Schemas/WLS_&{(auc)negocio}_&{(auc)localizacion}_&{(auc)backend}_&{objetoDeDatos}&{*(prefix['_'])interfazPackage}_&{operacionComando}Req_IMPL.xsd"/>
			<xs:import namespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/schema/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/Resp/IMPL/&{versionXSDResp}" schemaLocation="../Schemas/WLS_&{(auc)negocio}_&{(auc)localizacion}_&{(auc)backend}_&{objetoDeDatos}&{*(prefix['_'])interfazPackage}_&{operacionComando}Resp_IMPL.xsd"/>
			<xs:import namespace="http://mdwcorp.falabella.com/common/schema/clientservice" schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_clientService.xsd"/>
			<xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_soapFault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}MsgReq">
		<wsdl:part name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}ReqParam" element="req:&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Req"/>
	</wsdl:message>
	<wsdl:message name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}MsgResp">
		<wsdl:part name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}RespParam" element="resp:&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Resp"/>
	</wsdl:message>
	<wsdl:message name="FaultMsg">
		<wsdl:part name="FaultParam" element="env:Fault"/>
	</wsdl:message>
	<wsdl:message name="ClientServiceMsg">
		<wsdl:part name="ClientServiceParam" element="cs:ClientService"/>
	</wsdl:message>
	<wsdl:portType name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Pt">
		<wsdl:operation name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Op">
			<wsdl:input message="tns:&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}MsgReq"/>
			<wsdl:output message="tns:&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}MsgResp"/>
			<wsdl:fault name="Fault" message="tns:FaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Binding" type="tns:&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Pt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Op">
			<soap:operation soapAction="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/WLS/wsdl/&{(auc)backend}/&{objetoDeDatos}&{*(prefix['/'])interfazPackage}/&{operacionComando}/IMPL/&{versionWSDL}/Op" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:ClientServiceMsg" part="ClientServiceParam" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}ServiceIMPL">
		<wsdl:port name="&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}PortIMPL" binding="tns:&{backend}&{objetoDeDatos}&{interfazPackage}&{operacionComando}Binding">
			<soap:address location="osb"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>