config/atmpl/fal-osb-gen/fal-templates/exp/TEMPLATE_WSDL_OMNICHANNEL.wsdl.atmpl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}-&{versionWSDL}" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}-&{versionWSDL}" xmlns:cs="http://mdwcorp.falabella.com/common/schema/clientservice" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:req="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}/Req-&{versionXSDReq}" xmlns:resp="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}/Resp-&{versionXSDResp}" xmlns:csfif="http://mdwcorp.falabella.com/common/schema/clientserviceFIF">
	<wsdl:types>
		<xs:schema targetNamespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}-&{versionWSDL}" elementFormDefault="qualified">
			<xs:import namespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}/Req-&{versionXSDReq}" schemaLocation="../Schemas/&{(auc)negocio}_&{(auc)localizacion}_&{(auc)capa}_&{objetoDeNegocio}&{*(prefixUnderscore)localizacion}_&{operacion}Req.xsd"/>
			<xs:import namespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}/Resp-&{versionXSDResp}" schemaLocation="../Schemas/&{(auc)negocio}_&{(auc)localizacion}_&{(auc)capa}_&{objetoDeNegocio}&{*(prefixUnderscore)localizacion}_&{operacion}Resp.xsd"/>
			<xs:import namespace="http://mdwcorp.falabella.com/common/schema/clientservice" schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_clientService.xsd"/>
			<xs:import
				schemaLocation="../../../UT_EsquemasComunesFIF_V.1.0/Specifications/XSD/Common/MdwCorp_Common_clientServiceFIF.xsd"
				namespace="http://mdwcorp.falabella.com/common/schema/clientserviceFIF" />
			<xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_soapFault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}MsgReq">
		<wsdl:part name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}ReqParam" element="req:&{objetoDeNegocio}&{entidadDiscreta}&{operacion}ExpReq"/>
	</wsdl:message>
	<wsdl:message name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}MsgResp">
		<wsdl:part name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}RespParam" element="resp:&{objetoDeNegocio}&{entidadDiscreta}&{operacion}ExpResp"/>
	</wsdl:message>
	<wsdl:message name="FaultMsg">
		<wsdl:part name="FaultParam" element="env:Fault"/>
	</wsdl:message>
	<wsdl:message name="ClientServiceMsg">
		<wsdl:part name="ClientServiceParam" element="cs:ClientService"/>
	</wsdl:message>
	<wsdl:message name="ClientServiceFIFMsg">
		<wsdl:part name="ClientServiceFIFParam" element="csfif:ClientServiceFIF" />
	</wsdl:message>

	<wsdl:portType name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Pt">
		<wsdl:operation name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Op">
			<wsdl:input message="tns:&{objetoDeNegocio}&{entidadDiscreta}&{operacion}MsgReq"/>
			<wsdl:output message="tns:&{objetoDeNegocio}&{entidadDiscreta}&{operacion}MsgResp"/>
			<wsdl:fault name="Fault" message="tns:FaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Binding" type="tns:&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Pt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Op">
			<soap:operation soapAction="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objetoDeNegocio}&{*(prefixFwdSlash)entidadDiscreta}/&{operacion}-&{versionWSDL}/Op" style="document"/>
			<wsdl:input>
				<soap:header message="tns:ClientServiceMsg" part="ClientServiceParam" use="literal"/>
				<soap:header message="tns:ClientServiceFIFMsg" part="ClientServiceFIFParam"
					use="literal" />
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Service">
		<wsdl:port name="&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Port" binding="tns:&{objetoDeNegocio}&{entidadDiscreta}&{operacion}Binding">
			<soap:address location="osb"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>