config/atmpl/fal-templates/comp/TEMPLATE_WSDL_OMNICHANNEL.wsdl.atmpl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="&{objDeNegocio}&{entDiscreta}&{operacion}"
	targetNamespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}-&{versionWsdl}/COMP" 
	xmlns:tns="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}-&{versionWsdl}/COMP" 
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ws="http://www.example.com/webservice"
	xmlns:cs="http://mdwcorp.falabella.com/common/schema/clientservice"
	xmlns:csfif="http://mdwcorp.falabella.com/common/schema/clientserviceFIF"
	xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"
	xmlns:req="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}/Req/COMP/&{versionXsdReq}" 
	xmlns:resp="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}/Resp/COMP/&{versionXsdResp}">
	
	<wsdl:types>
		<xs:schema targetNamespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}-&{versionWsdl}/COMP" elementFormDefault="qualified">
			<xs:import namespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}/Req/COMP/&{versionXsdReq}" schemaLocation="../Schemas/&{(auc)negocio}_&{(auc)localizacion}_&{(auc)capa}_&{objDeNegocio}&{*(prefixUnderscore)localizacion}_&{operacion}_COMP_Req.xsd"/>
			<xs:import namespace="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/schema/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}/Resp/COMP/&{versionXsdResp}" schemaLocation="../Schemas/&{(auc)negocio}_&{(auc)localizacion}_&{(auc)capa}_&{objDeNegocio}&{*(prefixUnderscore)localizacion}_&{operacion}_COMP_Resp.xsd"/>
			<xs:import namespace="http://mdwcorp.falabella.com/common/schema/clientservice" schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_clientService.xsd"/>
			<xs:import
				schemaLocation="../../../UT_EsquemasComunesFIF_V.1.0/Specifications/XSD/Common/MdwCorp_Common_clientServiceFIF.xsd"
				namespace="http://mdwcorp.falabella.com/common/schema/clientserviceFIF" />
			<xs:import namespace="http://schemas.xmlsoap.org/soap/envelope/" schemaLocation="../../../UT_EsquemasComunes_V.2.0/Specifications/XSD/Common/MdwCorp_Common_soapFault.xsd"/>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="&{objDeNegocio}&{entDiscreta}&{operacion}MsgReq">
		<wsdl:part name="&{objDeNegocio}&{entDiscreta}&{operacion}ReqParam" element="req:&{objDeNegocio}&{entDiscreta}&{operacion}CompReq"/>
	</wsdl:message>
	<wsdl:message name="&{objDeNegocio}&{entDiscreta}&{operacion}MsgResp">
		<wsdl:part name="&{objDeNegocio}&{entDiscreta}&{operacion}RespParam" element="resp:&{objDeNegocio}&{entDiscreta}&{operacion}CompResp"/>
	</wsdl:message>
	<wsdl:message name="FaultMsg">
		<wsdl:part name="FaultParam" element="env:Fault"/>
	</wsdl:message>
	<wsdl:message name="ClientServiceMsg">
		<wsdl:part name="ClientServiceParam" element="cs:ClientService"/>
	</wsdl:message>
	<wsdl:message name="ClientServiceFIFMsg">
		<wsdl:part name="ClientServiceFIFParam" element="csfif:ClientServiceFIF" />
	</wsdl:message>

	<wsdl:portType name="&{objDeNegocio}&{entDiscreta}&{operacion}Pt">
		<wsdl:operation name="&{objDeNegocio}&{entDiscreta}&{operacion}Op">
			<wsdl:input message="tns:&{objDeNegocio}&{entDiscreta}&{operacion}MsgReq"/>
			<wsdl:output message="tns:&{objDeNegocio}&{entDiscreta}&{operacion}MsgResp"/>
			<wsdl:fault name="Fault" message="tns:FaultMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="&{objDeNegocio}&{entDiscreta}&{operacion}Binding" type="tns:&{objDeNegocio}&{entDiscreta}&{operacion}Pt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="&{objDeNegocio}&{entDiscreta}&{operacion}Op">
			<soap:operation soapAction="http://mdwcorp.falabella.com/&{(auc)negocio}/&{(auc)localizacion}/&{(auc)capa}/wsdl/&{objDeNegocio}$&{*(prefixFwdSlash)entDiscreta}/&{operacion}-&{versionWsdl}/COMP/Op" style="document"/>
			<wsdl:input>
				<soap:header message="tns:ClientServiceMsg" part="ClientServiceParam" use="literal"/>
				<soap:header message="tns:ClientServiceFIFMsg" part="ClientServiceFIFParam"
					use="literal" />
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="Fault">
				<soap:fault name="Fault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="&{objDeNegocio}&{entDiscreta}&{operacion}ServiceCOMP">
		<wsdl:port name="&{objDeNegocio}&{entDiscreta}&{operacion}PortCOMP" binding="tns:&{objDeNegocio}&{entDiscreta}&{operacion}Binding">
			<soap:address location="osb"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>